<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1" maxQueryStringLength="204800" maxUrlLength="409600"/>

    <authentication mode="Forms">
      <!--<forms loginUrl="~/Default.aspx" slidingExpiration="true" timeout="2880"></forms>-->
        <forms loginUrl="Admin/Default.aspx" defaultUrl="Admin/Default.aspx" />
    </authentication>

    <authorization>
      <deny users="?"/> 
    </authorization>

    <customErrors mode="RemoteOnly" defaultRedirect="~/error.aspx"></customErrors>
    <!--<sessionState timeout="1"></sessionState>-->

    <machineKey validationKey="EEC988DAAE4CAD88DC4B45FEF36C54145F748472212DC647FF3B56D64D3A95D321959DB4BBC1D4AFE361B3FD52EA230D5705D1526A36912851BE77EAC20DE3A9" decryptionKey="FA15AEC4E1F8B45303735279C3443B610F675E3CA8CEB9288E961EFF12422FC7" validation="SHA1" decryption="AES" />
    <globalization uiCulture="en-MY" culture="en-MY" />

  </system.web>

  

  <location path="ContactDefault.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="ContactUs.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="Policies.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="TermsAndConditions.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="PaymentGateway/Response.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="Admin/forgotpassword.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="error.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="Admin/accountactivation.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="Admin/Default.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="Login.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="ContactExtv3.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
	
  <location path="ContactPasswordRecovery.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
	
	<location path="ContactForgotPassword.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <connectionStrings>
    
    <add name="ConnString_Local" connectionString="Data Source=DESKTOP-VFCH2UC\SQLEXPRESS;Initial Catalog=RevNetworkTenant1;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="ConnString_SIT" connectionString="Data Source=localhost;Initial Catalog=RevNetworkTenant1;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="ConnString_UAT" connectionString="Data Source=localhost;Initial Catalog=RevNetworkTenant1;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="ConnString_Prod" connectionString="fU6E794YdG4xgLwG8URmanJ2G7JxMsqPZ47uSv7ZjU1U+X1A5u/DQCyIBznsBYQNI0TLnOYSLa14W6+4lcvlEct62hnXYAFJh3wHNIUmLM5TW25Qra+042X9jrn2GQGpfLEyPD5x0ZqoiaaXCDCe94Cah66DdsAYCo+Z/L5FkAGlCqWPpG5hzEsKLh5dqcG8QbHkJYcq2tn9j2IPQ2hGheYYoglVadBwRhHoY3XJ5I2Av2tfLXtzOHjcRGdxxWhi/HxUx000L2lUzYkHqUK26ctwDI24mZ2yBxcgj2Y+O6akBx0RNIgn22zJq7WvBAliNsTLzCiEZNi9LuL9UuQt/4kWrTv9iUjQ3oI1kumMgo0ShbGdzypXTghLuhO5kVlnbGN1PPFm/iw2wxwnkY=" providerName="System.Data.SqlClient"/>
    
  </connectionStrings>

  <appSettings>
    <!--DB Type : Set The DB Type to be used, ie: MSSQLServer, MySQL-->
    <add key="DBType" value="MSSQLServer" />

    <!--Current Environment : Set The envrionment to point to, ie: LOCAL_DEVELOPMENT, SYSTEM_INTERGRATION_TEST, USER_ACCEPTANCE_TEST, PRODUCTION-->
    <add key="CurrentEnvironment" value="LOCAL_DEVELOPMENT" />
    
    <!--Google Recaptcha-->
    <add key="SiteKey" value="6LfoldEUAAAAAH8c0R9cUHGafgiS2d6sdcmm7OJb" />
    <add key="SecretKey" value="6LfoldEUAAAAAEkxQLHvaV-8n3umGNm66h6G0dlu" />
    
    
    <!-- SMS Gateway -->
    <add key="SMSGatewayValueUri" value="https://sms.360.my/gw/bulk360/v1.4" />
    
    <add key="SMSGatewayAttributeUsername" value="user" />
    <add key="SMSGatewayAttributePassword" value="pass" />
    <add key="SMSGatewayAttributeRecipientNumber" value="to" />
    <add key="SMSGatewayAttributeMessageBody" value="text" />

    <add key="SMSGatewayValueUsername" value="jacob.chin@revotech.io" />
    <add key="SMSGatewayValuePassword" value="password@123" />

    <add key="SMSGatewayOtherParam" value="&amp;type=0&amp;servid=Bulk360" />
    
	  
	<!--SMS API Connection-->
	<add key="SMSAPIUrl" value="https://sms.360.my/gw/bulk360/v1.4?user=jacob.chin@revotech.io"/>
	<add key ="pass" value="=password@123"/>
	<add key="type" value="=0"/>
	<add key ="servid" value="=Bulk360"/>
	<add key ="from" value="=admin"/>
	<add key="MerchantName" value="[NBG EXPRESS]"/>

    <add key="PGMerchantCode" value="M17815"/>
    <add key="PGNotificationReceivingEmail" value="dickson.lee@revotech.io"/>
	  
  </appSettings>

  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="ContactDefault.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>

</configuration>
